<!DOCTYPE html>
<html>
  <head>
    <title>BcpgSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=devide-width,initial-scale=1">
  </head>

  <body id="<%= page_id %>" >
    <div class="jumbotron">
      <div class="hero-image" id="<%= page_id%>-hero">
      	<div class="hero-overlay">
      		<h1>Bucks County Pet Grooming</h1>
      	</div>
      </div>
    </div>
    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="500">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag("bcpg_logo.png",:alt=>"Bucks County Pet Grooming",:id=>"logo") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <li class="<%= 'active' if page_id =='main-index'  %>"><%= link_to "Home", "/"  %></li>
            <li class="<%= 'active' if page_id =='appointment-index'  %>"><%= link_to "Appointments", "appointment#index" %></li>
            <li class="<%= 'active' if page_id =='main-services'  %>"><%= link_to "Services", "/services"  %></li>
            <li class="<%= 'active' if page_id =='main-testimonials'  %>"><%= link_to "Testimonials", "/testimonials" %></li>
            <li class="<%= 'active' if page_id =='main-contact'  %>"><%= link_to "Contact", "/contact" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>    
    <%= yield %>
    <footer>
      <div class="row">
<!--       <div class="col-md-3">
            <img src="/assets/bcpg_logo.png" id = "index-logo"/>
          
      </div> -->
      <div class="col-md-12 footer-text">  
                  <img src="/assets/bcpg_logo.png" id = "footer-logo"/>

          <h1>Bucks County Mobile Pet Grooming</h1>
          <ul class="list-inline">
          <!-- needs to be horizontal nav -->
            <li><%= link_to "Home", "/"  %></li>|
            <li><%= link_to "Appointments", "appointment#index" %> </li> |
            <li> <%= link_to "Services", "/services"  %></li> |
            <li> <%= link_to "Testimonials", "/testimonials" %></li> |
            <li> <%= link_to "Contact", "/contact" %></li>
          </ul>
          <p><span class="bold">Contact:</span> Tony Quach (215) 597 - 0112 Tues - Sat, 8am - 6pm by apt.</p>
      </div>
      </div>
    </footer>
  </body>
</html>
